body{
padding:0;
margin:0;
background-color:black;
}
.ins{
display:flex;
position:fixed;
padding-top:10px;
padding-bottom:10px;
padding-left:10px;
padding-right:10px;
justify-content:space-between;
background-color:black;
color:white;
width:100%;
font-size:20px;
}
.sto{
padding-top:50px;
background-color:black;
display:flex;
flex-direction: row;

overflow-x:auto;
min-width:100%;
}

.im{
margin:5px 5px;
display:flex;
gap:10px;
}
.sto img{

width:70px;
height:70px;
border-radius:100px;
border:4px red solid;
}

.sto img:hover{
border:4px dashed white;
}

.sto .im div{

display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}
.sto > .im > div > p{
margin:2px;
}

.im> img:active{
width:80px;
height:80px;
border-radius:100px;
border:6px white dashed;
}

.boi{
width:100%;
max-height:580px;
border-radius:4px;

}
.po{
display:flex;
flex-direction:column;
padding:15px;
background-color:#111111;
color:white;
font-size:20px;
overflow-y:auto;
}

.po .post{
display:flex;
flex-direction:column;
gap:30px;
}

.nav{
display:flex;
position:relative;
z-index:0;
background-color:black;
color:white;
justify-content:space-around;

}

hr{
margin:0;
padding:0;
}
#str{
margin:0;
padding:10px;
position:fixed;
z-index:2;
top:50px;
display:flex;
flex-direction:column;
justify-content:space-between;

width:94%;
background-color:#111111;
color:white;
min-height:100%;
display:none;

}

.strlc{
display:flex;
flex-direction:row;
padding:10px;
align-items:center;
}

.strlc div >input[type="text"]{
padding:10px;
max-width:300px;
border-radius:10px;
border:1px solid white;
}
#spa{
font-size:30px;
}

.strim,img{
border-radius:15px;

}

.www img{

width:100%;
}
.www{
display:flex;
flex-direction:column;
gap:10px;
}
p{

color:white;
}

.iii{
width:35px;
height:35px;
border-radius:360px;
}

.po .post div{
display:flex;
gap:10px;
justify-content:space-between;
}

.po .post div div{

display:flex;
gap:10px;
justify-content:center;
align-items:center;
}

h6{

margin:0px;
}
.deta{
display:flex;
padding:8px;
justify-content:space-between;
}

.deta > div > span:hover,.deta > span:hover{

opacity:0.5;
}
.det{

display:flex;
width:300px;
word-wrap: break-word;
}
.mnmn{

display:flex;
flex-direction:column;
}
.last{

padding:6px;
  width:100%;
  background-color:black;
  height:65px;
    position:fixed;
    top:100%;
    left: 50%;
    border:2px solid black;
    display:flex;
    justify-content:space-around;
    transform: translate(-50%, -50%);
    

}

a{
text-decoration:none;
}

hr{
opacity:0.7px;
height:0.4px;
background-color:white;
border:0px solid #3A3B3C;
}

.strlc{

display:flex;
position:fixed;
top:88%;
color:white;
gap:50px;
}

